.choudai {
	min-width: 650px;
	overflow: auto;
}

.choudai a {
	border: 0;
}

.choudai .loader {
	text-align: center;
}

.choudai .item {
	width: 203px;
	height: 203px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	background: #efefef;
	border: 1px solid #dddddd;
	overflow: hidden;
}

.choudai .item_image {
	max-width: 203px;
	max-height: 203px;
}

.choudai .message {
	margin: 15px;
	text-align: center;
}